@media (width <= 600px) { /*Celulares*/
    .peli1 {
        width: 95%;
        display: inline-block;
    }
    .container {
        width: 100%;
        display: inline-block;
    }
    .container-tittle, h1{
        width: 100%;
        align-items: center;
    }
    P, h3 {
        display:none;
    }
}

@media (601px <= width <= 1199px) { /*Tablets*/
    .peli1 {
        width: 46.5%;
        display: inline-block;
        vertical-align: middle;
    }    
    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .container-tittle{
        width: 100%;
    }
    
}

@media (1200px <= width <= 1366px) { /*Laptops*/
    .peli1 {
        width: 100%;
        padding-top: 0;
    }
    .container {
        width: 98%;
        display: flex;
    }
    .container-tittle{
        width: 100%;
    }
    body{
        align-items: center;
    }
}

@media (width >= 1367px) { /*Pantallas grandes*/
    .peli1 {
        width: 100%;
        padding: 100px;
    }
    .container {
        width: 98%;
    }
    .container-tittle, h1{
        width: 10   0%;
    }
}
